@use '../../abstracts/variables'as var;
@use '../../components/cards/_profile_card';
@use '../../abstracts/mixins';

.offers {

    h2 {
        text-align: center;
        font: 48px var.$primary-font;
        font-weight: 700;
        margin-top: 60px;

        @include mixins.md {
            font-size: 36px;
        }
    }

    .offers__container {
        max-width: var.$max-width;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        gap: 30px;

        @include mixins.md {
            flex-direction: column;
            text-align: center
        }

        .card1 {

            @extend %innovation;
            margin-top: 200px;

            @include mixins.md {
                margin-top: 20px;
            }
        }

        .card2 {

            @extend %innovation;
        }

        .card3 {

            @extend %innovation;

            @include mixins.md {
                margin-top: 20px;
            }

            margin-top: 230px;
        }

    }
}