@use '../../abstracts/variables'as var;
@use '../../abstracts/mixins';

%card {
    display: flex;
    padding: 30px 20px;
    border-radius: 20px;
    font-size: 1rem;
    line-height: 1.6;
    width: 280px;
    font-family: var.$secondary-font;
    height: 160px;
    display: flex;

    i {
        font-size: 50px;
        color: var.$secondary-color;
    }

    div {
        padding-left: 18px;

        h5 {
            font-size: 20px;
            margin-top: 0;
        }

        p {
            margin-top: -20px;
        }


    }
}

.info__card {
    padding: 20px 30px;
    background-color: var.$secondary-color;
    width: 310px;
    height: 190px;
    border-radius: 20px;
    margin-top: 20px;

    &:last-child {
        margin-bottom: 40px;
    }

    &:first-child {
        margin-top: 40px;
    }

    h2 {
        font-family: var.$primary-font;
        font-size: 35px;
        margin: 0;
    }

    p {
        font-family: var.$secondary-font;
        line-height: 1.8;
        margin-top: 0;
    }

    @include mixins.md {
        width: 280px;
        height: 190px;

        p {
            line-height: 1.6;
        }
    }


}

.blog__card {
    width: 325px;
    overflow: hidden;
    background-color: var.$secondary-color;

    img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        // height: auto;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        h4 {
            font-size: 24px;
            margin: 2px;
            font-family: var.$primary-font;

            a {
                text-decoration: none;
                color: var.$text-color;
            }
        }

        p {
            font-family: var.$secondary-font;
        }

        a {
            font-size: 18px;
            text-decoration: none;
            color: var.$text-color;
            font-family: var.$secondary-font;
        }
    }
}