@use '../abstracts/variables' as var;

.blog {
    background-color: #53627f;
}
.blog__container {
    max-width: var.$max-width;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
h2 {
    font-family: var.$primary-font;
    text-align: center;
    color: var.$secondary-color;
    font-size: 48px;
}
    .blogs__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 20px;
    }
    .blog__btn {
         width: 100%;
         display: flex;
         margin-bottom: 60px;
        .learn_more {
         margin: 0 auto;
         color: var.$secondary-color;
        }
     }
}
