@use '../abstracts/variables'as var;
@use '../abstracts/mixins';


.testimonial {
    background-color: var.$primary-color;
    display: flex;
    justify-content: center;
    padding: 100px;

    .testimonial__container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;


        @include mixins.md {
            flex-direction: column;
            gap: 1px;
        }

        .testimonial__card {
            width: 369px;
            padding: 16px;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: var.$secondary-color;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mixins.md {
                width: 330px;
                padding: 10px 10px;
            }

            .image__container {
                display: flex;
                justify-content: center;

                img {
                    width: 60px;
                    border-radius: 50%;
                }
            }

            blockquote {
                font: 24px var.$secondary-font;
                font-weight: 300;
                text-align: center;
                padding: 10px 0;
                margin: 10px 0;
                // padding-left: 20px;
            }

            h6 {
                font: 20px var.$primary-font;
                margin: 0;

            }

            h5 {
                font: 16px var.$primary-font;
                color: var.$primary-color;
                margin-top: 10px;
            }
        }


    }
}

.testimonial__card1 {
    margin-bottom: 150px;

    @media (max-width: 1158px) {
        margin-bottom: 10px;
    }

}



.testimonial__card2 {
    margin-top: 150px;

    @media (max-width: 1158px) {
        margin-top: 10px;
    }
}