@use '../abstracts/variables'as var;
@use '../abstracts/mixins';
button {
    letter-spacing: 1px;
    font-size: 1.125rem;
    color: var.$secondary-color;
    align-self: center;
    text-transform: uppercase;
    background-color: #000000;
    font-weight: 400;
    border: none;
    margin: 45px auto 0 0;
    border-radius: 50px;
    padding: 19px 63px 19px 62px;
    transition: background-color 0.1s;
    cursor: pointer;

    &:hover {
        background-color: var.$primary-color;
    }
}

.learn_more {
    letter-spacing: 1px;
    font-size: 1.125rem;
    color: var.$text-color;
    align-self: center;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 400;
    margin: 15px auto 0 0;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    transition: background-color 0.1s;
    cursor: pointer;
    border: 2px #bbae9d solid;

    &:hover {
        background-color: var.$primary-color;
        color: var.$secondary-color;
        border-color: var.$primary-color;
    } 
}