@use '../abstracts/variables'as var;
@use '../abstracts/mixins';

.coaching {
    background: linear-gradient(0deg, rgba(41, 44, 51, 0.7), rgba(41, 44, 51, 0.7)), url('../assets/backgrounds/office_background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .coaching__container {
        padding: 50px;
        color: var.$secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font: 60px var.$primary-font;
            font-weight: 700;
            word-wrap: break-word;

            @include mixins.md {
                font-size: 48px;
                text-align: center;
            }
        }

        p {
            font: 16px var.$secondary-font;
            word-wrap: break-word;
            text-align: center;
        }

        .buttons {
            margin-bottom: 100px;
            display: flex;
            gap: 10px;

            :first-child {
                background-color: transparent;
                color: var.$secondary-font;
                padding: 15px 25px;
                border: 2px solid white;

                &:hover {
                    background-color: var.$primary-color;
                    border-color: var.$primary-color;
                }
            }

            :last-child {
                color: var.$text-color;
                padding: 15px 39px;
                background-color: var.$secondary-color;

                &:hover {
                    color: var.$secondary-color;
                    background-color: var.$primary-color;
                }
            }

            @include mixins.md {
                flex-direction: column;
            }
        }

        @include mixins.md {
            padding: 30px;
        }
    }
}