@use '../abstracts/variables'as var;
@use '../abstracts/mixins';
@use '../base/classes';

.info {
    background-image: url('../assets/backgrounds/woman_coffee_background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mixins.md {
        background-position: 90% 70%;
    }
}

.info__cards {
    max-width: var.$max-width;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;

    @include mixins.md {
        align-items: center;
    }
}