$primary-color: #f2795a;
$secondary-color: #ffffff;
$tertiary-color: #f2f2f2;
$text-color: #1a1a1a;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-size: 16px;
$max_width: 1024px;
 